@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./animation.css");

body,#root{
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar{
    height: 0;
    width: 0;
}



.mm8{
    background-color: violet;
    transform: translateX(-95%);
}

.grid-col{
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(50px,1fr));
}